.chat {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid lightgray;
    max-height: 5em;

    &__info {
      flex: 1;
      margin-left: 1em;

      > h2 {
        margin-bottom: 0.2em;
        font-size: 1.2rem;
      }

      > p {
        opacity: 0.5;
        font-size: 1rem;
      }
    }
  }

  &__body {
    flex: 1;
    background: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-size: cover;
    padding: 2em;
    overflow-y: scroll;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;

    > form {
      flex: 1;
      display: flex;

      input {
        flex: 1;
        border-radius: 30px;
        padding: .5em 1em;
        border: none;
        outline: none;
        font-size: 1rem;
      }

      button {
        display: none;
      }
    }
  }
}
